<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        body {
            background-image: linear-gradient(to right, #8e0e00, #1f1c18); /* Set your desired background color */
        }

        .completed-task {
            text-decoration: line-through;
            color: #ff4500; /* Set the color for completed tasks (mild orange) */
        }

        h1 {
            color: white; /* Set the h1 text color to white */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1>To-Do List</h1>
        <form action="/add" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="task_title" placeholder="Enter a new task" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add Task</button>
                </div>
            </div>
        </form>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    {% if task['completed'] %}
                        <span class="completed-task"><i class="fas fa-check"></i></span>
                    {% endif %}
                    {{ task['title'] }}
                    <div class="float-right">
                        <a href="/complete/{{ loop.index0 }}" class="btn btn-success btn-sm">Complete</a>
                        <a href="/delete/{{ loop.index0 }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>